@layer reset, base, antd, theme, app, utilities;

@import "antd/dist/reset.css" layer(reset);
@import "react-quill-new/dist/quill.snow.css" layer(base);
@import "./tailwind.css";
@import "./tajweed.css" layer(app);
@import "./tafsir.css" layer(app);
@import "./quill.css" layer(app);

:root {
  --primary-color: #43a047;
  --text-color: rgba(255, 255, 255, 0.85);
}

@layer app {
  body {
    background-color: #444;
    color: var(--text-color);
  }

  .bg-default {
    background-color: #444;
  }

  .text-arabic {
    font-family: var(--font-arabic);
  }
}
