@import "./tailwind.css";
@import "./tajweed.css";
@import url("https://fonts.googleapis.com/css2?family=Mirza&display=swap");

body {
  background-color: #444;
  color: rgba(255, 255, 255, 0.85);
}

.bg-default {
  background-color: #444;
}

.text-arabic {
  font-family: "Mirza", cursive;
}
