body .quill {
  /* toolbar */
  .ql-snow.ql-toolbar {
    border-color: #666;

    .ql-picker {
      color: var(--text-color);
      .ql-picker-label {
        color: var(--text-color);
        border-color: #666;
      }
      .ql-picker-label:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }

    .ql-picker.ql-expanded .ql-picker-options {
      background-color: #333;
      .ql-picker-item:hover,
      .ql-picker-item.ql-selected {
        color: var(--primary-color);
      }
    }
    .ql-stroke {
      stroke: var(--text-color);
    }
    button:hover .ql-stroke,
    .ql-picker-label:hover .ql-stroke {
      stroke: var(--primary-color);
    }
  }

  /* the text area */
  .ql-snow.ql-container {
    border-color: #666;

    /* tooltips such as when adding a hpyerlink */
    .ql-tooltip {
      background-color: #333;
      color: var(--text-color);
      border-color: #666;
      @apply shadow-md;

      input {
        background-color: #111;
        border-color: #666;
      }
    }
  }

  .ql-snow a {
    color: var(--primary-color);
  }
}
